th {
  white-space: nowrap;
}

/* Theme of quotation */

.vp-doc blockquote {
  border-left: 4px solid #ff00ae;
  border-radius: 4px;
  background-color: transparent !important;
}

/* Theme of inline code */

li>code,
/* table code, */
p code {
  /* word-break: break-word; */
  color: var(--vp-c-purple-1) !important;
  font-weight: bold;
  /* border: #79ccff 1px dotted; */
  background-color: transparent !important;
}

/* Theme of hyperlinks */
.vp-doc a {
  color: var(--vp-c-indigo-1) !important;
  /* font-weight: bold; */
  /* border: var(--vp-c-indigo-1) 1px dotted; */
  background-color: transparent !important;
  /* text-decoration: underline; */
}


/* Theme of headings  */
.vp-doc h1,
.vp-doc h2,
.vp-doc h3,
.vp-doc h4,
.vp-doc h5,
.vp-doc h6,
.vp-doc .header-anchor:before {
  color: #e15300 !important;
  /* 
  background: linear-gradient(to right, #db0000, #e4b600);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: max-content;
   */
}